.contact-section {
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
body{
    background-image: url(Images/one-way-rental.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.contact-form {
    max-width: 20%;
    margin: 2rem auto;
    text-align: left;
    background: linear-gradient(45deg, midnightblue, #0056cc);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: antiquewhite;
    
}
.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    width: 95%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #0077ff;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: rgb(3, 18, 35);
}
.ques{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 180%;
    margin-top: 10%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, midnightblue, #0056cc);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #0077ff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    display: inline-block;
}
.logo span {
    color: antiquewhite; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-links {
    list-style: none;
    display: flex;
    transition: all 0.3s ease-in-out;
    margin-right: 3%;
}

.nav-links li {
    margin: 0 1rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.nav-links a:hover {
    background-color: antiquewhite;
    color: #333;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.copyright {
    margin-top: 2rem;
    font-size: 0.9rem;
    margin-top: 15%;
    text-align: center;
    color: black;
}